html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    position: relative;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-family: Times, sans-serif;
}

.small {
    font-size: 14px;
    line-height: 20px;
    font-family: Minion Pro, sans-serif;
}

.medium {
    font-size: 16px;
    line-height: 22px;
    font-family: Minion Pro, sans-serif;
}

.large {
    font-size: 20px;
    line-height: 22px;
    font-family: Minion Pro, sans-serif;
}

.white {
    background-color: #ffffff;
    color: #000000;
}

.white a {
    color: #000000;
}

.black {
    background-color: #000000;
    color: #ffffff !important;
}

.black a {
    color: #ffffff;
}

h1 {
    font-size: 35px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 26px;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.site-mode-panel {
    width: 968px;
    height: 50px;
    background-color: #e9e9e9;
    border-bottom: 1px solid #000000;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 30px;
}

.black .site-mode-panel {
    width: 968px;
    height: 50px;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 30px;
}

.site-color-change {
    float: left;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 18px;
}

.site-color-change a {
    display: inline-block;
    margin: 2px 2px;
    padding: 3px;
    border: #000000 1px solid;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.black .site-color-change a {
    display: inline-block;
    margin: 2px 2px;
    padding: 3px;
    border: #ffffff 1px solid;
    background-color: #000000;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.black .site-color-change a.white {
    color: #000000;
    background-color: #ffffff;
}

.site-font-resize {
    float: left;
    margin-left: 100px;
    vertical-align: middle;
    font-size: 18px;
}

.site-font-resize a {
    display: inline-block;
    margin: 2px 2px;
    padding: 3px;
    border: #000000 1px solid;
    color: #000000;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
}

.black .site-font-resize a {
    display: inline-block;
    margin: 2px 2px;
    padding: 3px;
    border: #ffffff 1px solid;
    color: #ffffff;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
}

.site-mode-change {
    float: left;
    display: inline-block;
    height: 25px;
    margin-left: 100px;
    margin-top: 7px;
    font-family: Minion Pro, serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
}

.site-mode-change a {
    font-family: Minion Pro, serif;
    font-size: 20px;
    text-align: center;
}

.posel {
    margin-top: 5px;
    color: #ffffff;
    text-align: left;
    line-height: 26px;
}

.clear {
    clear: both;
}

/*********************************************/
#center {
    position: relative;
    width: 1000px;
    min-height: 800px;
    height: 100%;
    margin: 9px auto 20px auto;
}

#center .sidebar {
    position: relative;
    width: 271px;
    float: left;
    height: 100%;

}

#center .content {
    float: right;
    width: 729px;
    overflow: hidden;
}

/************* mainmenu-static *************************/
#mainmenu-static {
    margin-top: 20px;
    width: 250px;
    z-index: 2;
}

#mainmenu-static .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 250px;
}

#mainmenu-static .menu li {
    position: relative;
    list-style: none;
    margin: 0 0 7px 0;
    padding: 0;
    height: 100%;
    text-align: right;
}

#mainmenu-static .menu li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 5px 7px;
}

#mainmenu-static .menu li a:hover {
    font-weight: bold;
    text-decoration: none;
}

#mainmenu-static .menu li .selected {
    font-weight: bold;
    text-decoration: none;
}

#mainmenu-static ul li ul {
    position: relative;
    width: 230px;
    padding: 5px 0 5px 0;
}

#mainmenu-static .menu li ul li {
    margin: 2px 20px 0 0;
}

#mainmenu-static .menu li ul li a {
    text-decoration: underline;
    padding: 0;
}

#mainmenu-static .menu li ul li a:hover {
    font-weight: bold;
    background: transparent;
}

#mainmenu-static .menu li ul li a.hover {
    font-weight: bold;
    background: transparent;
}

#mainmenu-static .menu li ul li .selected {
    font-weight: bold;
    background: transparent;
}

#mainmenu-static .menu li a.hover {
    font-weight: bold;
    text-decoration: none;
}

/***************** content_header ***********************/
.content_header {
    position: relative;
    width: 729px;
    height: 170px;
}

.content_header .site-name {
    margin-top: 10px;
    z-index: 3;
}

.content_header .site-name a {
    text-decoration: none;
}

.content_header .site-name p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.content_header .site-name .big {
    font-size: 39px;
    font-weight: normal;
    line-height: 55px;
}

.content_header .header_img {
    height: 41px;
    z-index: 2;
}

/******************************** поиск ********************/
.search {
    position: absolute;
    top: 102px;
    left: 0;
    width: 729px;
    height: 37px;

    background-color: #000000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.black .search {
    position: absolute;
    top: 102px;
    left: 0;
    width: 729px;
    height: 37px;

    background-color: #ffffff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.search .search_field {
    position: absolute;
    top: 9px;
    left: 9px;
    border: 0;
    width: 580px;
    height: 18px;
    color: #000000;
    padding-left: 5px;
    float: left;
    margin: 0;
}

.search .search_button {
    border: 0;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 60px;
    cursor: pointer;
}

/********** pathway *********************/
.content_center {
    margin-left: 5px;
}

.content_center_left {
    width: 460px;
    float: left;
}

.content_center_right {
    width: 210px;
    float: right;
}

.pathway {
}

.pathway .separator {
}

.pathway a {
}

.pathway a:hover {
    text-decoration: none;

}

/******************* text ********************/

.text_heading {
    margin: 15px 0;
}

.cont_text p {
    margin: 0 0 10px 0;
    padding: 0;
}

/****************** news *****************************/

.news {
    margin-top: 20px;
    width: 190px;
    padding-right: 20px;
}

.news .item {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.black .news .item {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}

.news .date {
    text-decoration: underline;
}

.news p {
    margin-top: 10px;
}

.news p a {
    text-decoration: none;
}

.news p a:hover {
    text-decoration: underline;

}

/******************* пресса *************************/
.pressa {
    margin: 40px 0 0 0;
}

.pressa .item {
    width: 302px;
    float: left;
    text-align: left;
    overflow: hidden;
    margin: 0 60px 0 0;
}

#end_item_pressa {
    margin: 0 0 0 0;
}

.pressa .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;
    margin-top: 17px;
}

.pressa .item .descript {
    padding-left: 50px;
}

.pressa .item p {
    padding: 0;
    margin: 0;
}

.pressa .item .descript .date {
}

.pressa .item .descript .title a {
}

.pressa .item .descript .title a:hover {
    text-decoration: none;
}

.pressa .item .descript .text {
}

/******************** законодательство *******************/

.zakon {
    position: relative;
    margin: 40px 0 0 0;
    padding: 15px;
    width: 724px;
    min-height: 296px;
    height: 100%;
}

.zakon .item {
    margin: 0 0 20px 0;
}

.zakon .item .date {
    text-align: left;
    text-decoration: underline;
}

.zakon .item .description a {
    text-decoration: none;
}

.zakon .item .description a:hover {
    text-decoration: underline;
}

.zakon .pages {
    text-align: center;
    width: 100px;
    font-weight: bold;
}

.zakon .pages span {
}

.zakon .pages a {
}

.zakon .pages a:hover {
    text-decoration: none;
}

/******************** footer ************************/
.pad {
    height: 112px;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 112px;
    width: 100%;
    clear: both;
    border-top: 1px solid #000000;
}

.black #footer {
    position: absolute;
    bottom: 0;
    height: 112px;
    width: 100%;
    clear: both;
    border-top: 1px solid #ffffff;
}

#footer .footer_center {
    position: relative;
    width: 1000px;
    height: 112px;
    margin: 0 auto;

}

#footer .contacts {
    position: relative;
    height: 55px;
    line-height: 54px;
    text-align: center;
}

#footer .contacts p {
    margin: 0;
    padding: 0;
}

#footer .made {
    margin-left: 50%;
}

#footer .made a {
    text-align: right;
    text-decoration: none;
}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/******* admin *********/

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: 14px;
}

textarea {
    width: 100%;
    height: 250px;
}

#save {
    width: 100px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.sub-menu {
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 520px;
    background: url(/images/submenu.png) top left no-repeat;
    vertical-align: middle;
}

.document {
    list-style: none;
    padding: 0;
}

.document li {
    padding: 5px 0;
}

.doc_text {
    text-align: justify;
}

