html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
    min-height: 100%;
    height: auto !important;
    position: relative;
}

h1 {
    font-size: 35px;
    color: #047bc2;
    font-family: Times New Roman;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 26px;
    color: #047bc2;
    font-family: Times New Roman;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

#header_top {
    position: relative;
    width: 100%;
    height: 26px;
    background: url(/images/header_bg.png) repeat-x left top;
}

#header_top .site-mode {
    position: absolute;
    left: 15px;
    top: 4px;
    color: #ffffff;
    font-family: Minion Pro, serif;
    font-size: 18px;
    text-align: center;

    z-index: 3;
    line-height: 19px;
}

#header_top .site-mode a {
    color: #ffffff;
    font-family: Minion Pro, serif;
    font-size: 18px;
    text-align: center;
}

.header_top_center {
    position: relative;
    width: 1000px;
    height: 26px;
    margin: 0 auto;

}

#header_top .posel {
    position: absolute;
    left: 306px;
    color: #e4e8dc;
    font-family: Times New Roman;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.clear {
    clear: both;
}

/******************************** маленькие иконки в шапке ********************/
#header_top .menu_icons {
    height: 18px;
    position: absolute;
    right: 46px;
    top: 5px;

}

#header_top .menu_icons .icons {
    height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;

}

#header_top .menu_icons .icons li {
    list-style: none;
    margin: 0 0 0 28px;
    padding: 0;
    width: 13px;
    height: 13px;
    float: left;

}

#header_top .menu_icons .icons a {
    width: 13px;
    height: 13px;
    display: block;
}

#header_top .menu_icons .icons .item1 a {
    background: url(/images/home_icon.gif) no-repeat left center;
}

#header_top .menu_icons .icons .item2 a {
    background: url(/images/star_icon.gif) no-repeat left center;
}

#header_top .menu_icons .icons .item3 a {
    background: url(/images/sitemap_icon.gif) no-repeat left center;
}

#header_top .menu_icons .icons .item4 a {
    background: url(/images/mail_icon.gif) no-repeat left center;
}

/*********************************************/
#center {
    position: relative;
    width: 1200px;
    min-height: 800px;
    height: 100%;
    margin: 9px auto 20px auto;
}

#center .sidebar {
    position: relative;
    width: 271px;
    float: left;
    height: 100%;

}

#center .content {
    float: right;
    width: 929px;
    overflow: hidden;
}

#center .sidebar .flag {
    position: absolute;
    top: 22px;
    left: 197px;
    width: 123px;
    height: 740px;
    background: url(/images/flag.png) no-repeat left center;
    z-index: 1;
}

/************* mainmenu *************************/
#mainmenu {
    position: relative;
    left: 0;
    top: 46px;
    width: 176px;
    z-index: 2;
}

#mainmenu .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 176px;
}

#mainmenu .menu li {
    position: relative;
    list-style: none;
    margin: 0 0 7px 0;
    padding: 0;
    height: 100%;
    text-align: right;
}

#mainmenu .menu li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 7px;
    color: #0167a4;
    line-height: 18px;
    font-size: 18px;
    font-family: Times New Roman;
}

#mainmenu .menu li a:hover {
    background: #0271b2;
    color: #fff;
    text-decoration: none;

}

#mainmenu .menu li .selected {
    background: #0271b2;
    color: #fff;
    text-decoration: none;

}

#mainmenu ul li ul {
    display: none;
    position: relative;
    width: 176px;
    color: #000;
    padding: 15px 0 10px 0;

}

#mainmenu .menu li ul li {
    margin: 0 20px 0 0;
}

#mainmenu .menu li ul li a {
    text-decoration: underline;
    color: #000;
    padding: 0;
    line-height: 20px;
    font-size: 17px;
    font-family: Times New Roman;

}

#mainmenu .menu li ul li a:hover {
    color: #0267a2;
    background: transparent;
}

#mainmenu .menu li ul li a.hover {
    color: #0267a2;
    background: transparent;

}

#mainmenu .menu li ul li .selected {
    color: #0267a2;
    background: transparent;
}

#mainmenu .menu li a.hover {
    background: #0271b2;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

.round_bottom_left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: url(/images/round-bottom-left.gif) no-repeat left center;

}

.round_bottom_right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: url(/images/round-bottom-right.gif) no-repeat left center;

}

.round_top_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 2px;
    background: url(/images/round-top-right.gif) no-repeat left center;

}

.round_top_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 2px;
    background: url(/images/round-top-left.gif) no-repeat left center;

}

/***************** content_header ***********************/
.content_header {
    position: relative;
    width: 729px;
    height: 344px;

}

.content_header .sitename {
    position: absolute;
    top: 0;
    left: 36px;
    z-index: 3;

}

.content_header .sitename a {
    text-decoration: none;
}

.content_header .sitename p {
    color: #0270b2;
    font-family: Times New Roman;
    font-size: 16px;
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 18px
}

.content_header .sitename .big {
    font-size: 39px;
    font-weight: 0;
    line-height: 55px
}

.logo {
    position: absolute;
    width: 112px;
    height: 88px;
    top: 0px;
    right: 46px;
    background: url(/images/gerb.png) no-repeat left center;
    z-index: 2;
}

.content_header .header_img {
    position: absolute;
    width: 677px;
    height: 241px;
    top: 100px;
    left: 20px;
    background: url(/images/header_img.png) no-repeat left center;
    z-index: 2;

}

/******************************** поиск ********************/
.search {
    position: absolute;
    top: 173px;
    left: 11px;
    width: 655px;
    height: 37px;

    background: url(/images/search_bg.png) repeat-x left center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.search .search_field {
    position: absolute;
    top: 9px;
    left: 9px;
    border: 0;
    width: 484px;
    height: 18px;
    color: #000;
    font-family: Arial;
    font-size: 16px;
    padding-left: 5px;
    float: left;
    margin: 0;
}

.search .search_button {
    color: #fff;
    font-family: Times New Roman;
    font-size: 16px;
    background: transparent;
    border: 0;
    position: absolute;
    top: 7px;
    right: 50px;
    width: 60px;
    cursor: pointer;
}

/********** pathway *********************/
.content_center {
    margin-left: 35px;
}

.content_center_left {
    width: 458px;
    float: left;
}

.content_center_right {
    width: 285px;
    float: right;
}

.pathway {
    color: #000;
    font-size: 14px;
    font-family: Arial;

}

.pathway .separator {

    color: #0478be;
}

.pathway a {
    color: #000;
    font-size: 14px;
    font-family: Arial;

}

.pathway a:hover {
    text-decoration: none;

}

/******************* text ********************/

.text_heading {
    margin: 10px 0;
}

.cont_text p {
    color: #323232;
    font-size: 14px;
    font-family: Arial;
    margin: 0 0 10px 0;
    padding: 0

}

/****************** news *****************************/

.news {
    margin-top: 20px;
    width: 265px;
    padding-right: 20px;
}

.news .item {
    padding-bottom: 10px;
    border-bottom: 1px solid #94b3c5;

}

.news .date {
    text-decoration: underline;
    font-size: 15px;
    color: #0065a1;
    font-family: Times New Roman;
}

.news p {
    margin-top: 10px;
}

.news p a {
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: #323232;
    font-family: Arial;

}

.news p a:hover {
    text-decoration: underline;

}

/******************* пресса *************************/
.pressa {
    margin: 40px 0px 0 0;
}

.pressa .item {
    width: 202px;
    float: left;
    text-align: left;
    overflow: hidden;
    margin: 0 60px 0 0;
}

#end_item_pressa {
    margin: 0 0px 0 0;
}

.pressa .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;
    border: 1px solid #3faaec;
    margin-top: 17px;
}

.pressa .item .descript {
    padding-left: 50px;

}

.pressa .item p {
    padding: 0;
    margin: 0;
    font-size: 11px;
}

.pressa .item .descript .date {
    color: #1a74a9;
    font-family: Minion Pro;
}

.pressa .item .descript .title a {
    color: #323232;
    font-family: Arial;

}

.pressa .item .descript .title a:hover {
    text-decoration: none;
}

.pressa .item .descript .text {
    font-size: 11px;
}

/******************** законодательство *******************/

.zakon {
    position: relative;
    margin: 40px 0px 40px 25px;
    padding: 15px;
    width: 625px;
    min-height: 296px;
    height: 100%;
    background: #f1f0ef;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

.zakon_shadow {
    position: absolute;
    bottom: -19px;
    left: 0px;
    width: 655px;
    height: 19px;
    background: url(/images/zakon_shadow.png) no-repeat left center;
}

.zakon .item {
    margin: 0px 0px 20px 0;
}

.zakon .item .date {
    color: #000;
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
    font-family: Times New Roman;
}

.zakon .item .description a {
    color: #047bc2;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;

}

.zakon .item .description a:hover {

    text-decoration: underline;
}

.zakon .pages {
    text-align: center;
    width: 100;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;

}

.zakon .pages span {
    color: #047bc2;

}

.zakon .pages a {
    color: #000;
}

.zakon .pages a:hover {
    text-decoration: none;
    color: #047bc2;
}

/******************** footer ************************/
.pad {
    height: 112px;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 112px;
    width: 100%;
    background: url(/images/footer_bg.gif) repeat-x left bottom;
    clear: both;
    border-top: 1px solid #9fa0a0;
}

#footer .footer_center {
    position: relative;
    width: 1000px;
    height: 112px;
    margin: 0 auto;

}

#footer .contacts {
    position: relative;
    height: 55px;
    line-height: 54px;
    text-align: center;
}

#footer .contacts p {
    color: #0371b5;
    font-family: Times New Roman;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#footer .made {
    margin-left: 50%;
}

#footer .made a {
    position: absolute;
    display: block;
    margin-left: -47px;
    width: 94px;
    height: 53px;
    background: url(/images/invoice.png) no-repeat left top;

}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/******* admin *********/

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: 14px;
}

textarea {
    width: 100%;
    height: 250px;
}

#save {
    width: 100px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.sub-menu {
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 520px;
    background: url(/images/submenu.png) top left no-repeat;
    vertical-align: middle;
}

.document {
    list-style: none;
    padding: 0;
}

.document li {
    padding: 5px 0;
}

.doc_text {
    text-align: justify;
}

