html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    height: auto !important;
    position: relative;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-family: Minion Pro, sans-serif;
}

.small {
    font-size: 14px;
    line-height: 20px;
    font-family: Minion Pro, sans-serif;
}

.medium {
    font-size: 16px;
    line-height: 22px;
    font-family: Minion Pro, sans-serif;
}

.large {
    font-size: 20px;
    line-height: 22px;
    font-family: Minion Pro, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 31px;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

#header {
    position: relative;
    width: 998px;
    height: 300px;
    margin: 0 auto;
}

.font-resize {
    margin-left: 10px;
    color: #000000;
    vertical-align: middle;
}

.font-resize a {
    display: inline-block;
    margin: 2px 2px;
    padding: 3px;
    border: #000000 1px solid;
    color: #000000;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
}

#header .site-name {
    margin: 15px 15px;
    z-index: 3;
}

#header .site-name .big {
    color: #000000;
    font-size: 42px;
    font-weight: normal;
    line-height: 38px;
    text-decoration: none;
}

#header .site-name p {
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 0;
}

#header .posel {
    position: absolute;
    top: 28px;
    left: 389px;
    color: #000000;
    text-align: center;

    z-index: 3;
    line-height: 16px;
}

#header .site-mode {
    position: absolute;
    top: 46px;
    left: 389px;
    color: #000000;
    font-family: Minion Pro, serif;
    font-size: 18px;
    text-align: center;

    z-index: 3;
    line-height: 19px;
}

#header .site-mode a {
    color: #000000;
    font-family: Minion Pro, serif;
    font-size: 18px;
    text-align: center;
}

#header .phone {
    position: absolute;

    top: 62px;
    right: 15px;
    color: #000000;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    z-index: 3;
}

#header .ask {
    position: absolute;
    top: 90px;
    right: 15px;
    z-index: 3;
}

#header .ask a {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

#header .ask a:hover {
    text-decoration: none;

}

/******************************** поиск ********************/
.search {
    position: absolute;
    top: 115px;
    right: 15px;
    line-height: 19px;
}

.search .search_field {
    border: #000000 solid 1px;
    width: 152px;
    height: 15px;
    color: #000000;
    padding-left: 5px;
    float: left;
}

.search .search_button {
    width: 18px;
    height: 18px;
    background: url(/images/search_button.gif) no-repeat left top;
    margin: 0 0 0 4px;
    border: #000000 solid 1px;
    cursor: pointer;
}

/****************************************/
.content {

    width: 998px;
    margin: 0 auto 30px auto;
    overflow: hidden;
}

/************* mainmenu *************************/
#mainmenu {
    position: absolute;
    width: 998px;
    top: 145px;
    left: 0;

}

#mainmenu .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 998px;

}

#mainmenu .menu li {
    list-style: none;
    margin-bottom: 20px;
    padding: 6px 0 0 8px;
    float: left;
    width: 183px;
    height: 38px;
    position: relative;

}

#mainmenu .menu li img {
    margin: 0 6px 0 0;
    float: left;
}

#mainmenu .menu li a {
    padding: 0;
    color: #454545;
    margin: 0 0 0 0;
}

#mainmenu .menu .with_submenu:hover {

    background: url(/images/menu_bg.png) repeat;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    border-color: #c2c2c2;
    border-width: 1px 1px 0 0;
    box-shadow: 0 -1px 1px 1px darkgrey;

}

#mainmenu .menu li a:hover {
    color: #e55c00;
    text-decoration: none;

}

#mainmenu .menu li .selected {
    color: #e55c00;
    font-weight: bold;
}

#mainmenu ul li ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 59px;
    width: 171px;
    min-height: 100px;
    background: url(/images/menu_bg.png) repeat;
    padding: 5px 10px 0 10px;
    z-index: 1000;
    margin-top: -15px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border: #c2c2c2 solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 1px 1px darkgrey;
}

#mainmenu .menu li ul li:hover {
    background: transparent;
    border-width: 0;
    box-shadow: 0 0 0;

}

#mainmenu .menu li ul li {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    height: auto;
    width: 160px;
    float: none;
    background: transparent;
}

#mainmenu .menu li ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#mainmenu .menu li ul li a.hover {
    color: #e55c00;
    background: transparent;
    border: 0;

}

#mainmenu .menu li ul li .selected {
    color: #e55c00;
}

#mainmenu .menu li a.hover {
    text-decoration: none;
    color: #e55c00;
    background: transparent;
    border: 0;
}

/********************** статистика ********************/
.stats {
    position: relative;
    width: 850px;
    height: 202px;
    padding: 0 12px 0 22px;
    left: 55px;
    background: url(/images/stat_bg.png) repeat-x left top;
    border: 1px solid #d2d2d2;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.stats .text_heading {
    background: transparent;
}

.stats .item {
    width: 228px;
    float: left;
    text-align: center;
    margin-right: 50px;

}

.stats .item div {
    margin-left: 50%;
}

.stats .item p {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 18px;
}

.stats .item p a {
    color: #000;
    text-decoration: none;
}

.stats .item .sost a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -45px;

    background: url(/images/sost.png) no-repeat left top;
}

.stats .item .budget a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -53px;

    background: url(/images/budget.png) no-repeat left top;
}

.stats .item .lgoti a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -53px;

    background: url(/images/lgoti.png) no-repeat left top;
}

/******************* пресса *************************/
.pressa {
    margin: 40px 50px 0 0;
    width: 400px;
    float: right;
}

.pressa .text_heading .head {
    color: #000000;
}

.pressa .item {
    text-align: left;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 3px solid #c2c2c2;
}

.pressa .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;

    margin-top: 17px;
}

.pressa .item .descript {
    padding-left: 50px;
}

.pressa .item p {
    padding: 0;
    margin: 0;
}

.pressa .item .descript .date {
    color: #000000;
}

.pressa .item .descript .title a {
    color: #000000;
}

.pressa .item .descript .title a:hover {
    text-decoration: none;
}

/******************* пресса основная *************************/
.pressa-big {
    margin: 40px 0 0 0;
}

.pressa-big .text_heading .head {
    color: #000000;
}

.pressa-big .item {
    text-align: left;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.pressa-big .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;
    margin-top: 17px;
}

.pressa-big .item .descript {
    padding-left: 50px;

}

.pressa-big .item p {
    padding: 0;
    margin: 0;
}

.pressa-big .item .descript .date {
    color: #000000;
}

.pressa-big .item .descript .title a {
    color: #000000;
}

.pressa-big .item .descript .title a:hover {
    text-decoration: none;
}

.text {
    margin: 0 0 20px 20px;

}

.text p {
    color: #000000;
    padding-bottom: 10px
}

.text_heading {
    margin: 10px 0;
    background: url(/images/h1_bg.png) repeat-x left center;
}

.text_heading .head {
    padding: 0 20px 0 0;

    font-size: 31px;
    line-height: 31px;
    color: #000000;
    background: #fff;
}

/******************** законодательство *******************/

.zakon {
    margin: 40px 0 0 55px;
    width: 447px;
    float: left;

}

.zakon .text_heading .head {
    color: #000000;
}

.zakon .item {
    margin: 0 0 20px 0;
}

.zakon .item .date {
    width: 100px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    text-align: left;
}

.zakon .item .date p {
    color: #000000;
}

.zakon .item .descript {
    padding-left: 105px;

}

.zakon .item p {
    padding: 0;
    margin: 0;

}

.zakon .item .descript .title {
    color: #000000;
    margin-bottom: 5px;
}

.zakon .item .descript .description a {
    color: #000;
}

.zakon .item .descript .description a:hover {
    text-decoration: none;
}

/******************** footer ************************/
.pad {
    height: 105px;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 105px;
    width: 100%;
    clear: both;

}

#footer .center {
    position: relative;
    margin: 0 auto;
    border-top: 4px solid #e55c00;
    width: 998px;
}

#footer .contacts {
    margin: 15px 15px;
}

#footer .contacts p {
    color: #000000;
    margin: 0;
    padding: 0;
}

#footer .made {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 15px;
}

#footer .made a {
    text-align: right;
    color: #000000;
    text-decoration: none;
}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/******* admin *********/

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: 14px;
}

textarea {
    width: 100%;
    height: 250px;
}

#save {
    width: 100px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.sub-menu {
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 520px;
    background: url(/images/submenu.png) top left no-repeat;
    vertical-align: middle;
}

.document {
    list-style: none;
    padding: 0;
}

.document li {
    padding: 5px 0;
}

.doc_text {
    text-align: justify;
}