html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #fff url(/images/bg.png) repeat-x left top;

    height: 100%;
    min-height: 100%;
    height: auto !important;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 31px;

    font-family: Minion Pro;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

#header {
    position: relative;
    width: 998px;
    height: 575px;
    margin: 0 auto;
}

.logo a {
    position: absolute;
    display: block;
    width: 112px;
    height: 105px;
    top: 30px;
    left: 0px;
    background: url(/images/gerb.png) no-repeat left center;
    z-index: 2;
}

#header .sitename {
    position: absolute;
    top: 50px;
    left: 138px;
    z-index: 3;

}

#header .sitename p {
    color: #e55c00;
    font-family: Minion Pro;
    font-size: 13px;
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 15px
}

#header .sitename .big {
    font-size: 42px;
    font-weight: 0;
    line-height: 38px
}

#header .posel {
    position: absolute;
    top: 28px;
    left: 389px;
    color: #e55c00;
    font-family: Minion Pro;
    font-size: 16px;
    text-align: center;

    z-index: 3;
    line-height: 16px;
}

.map {
    position: absolute;
    width: 31px;
    height: 47px;
    top: 61px;
    left: 515px;
    background: url(/images/gerb2.png) no-repeat left center;
    z-index: 1;
}

#header .phone {
    position: absolute;

    top: 62px;
    right: 54px;
    color: #e55c00;
    font-family: Minion Pro;
    font-size: 23px;
    text-align: center;
    z-index: 3;
}

#header .ask {
    position: absolute;

    top: 90px;
    right: 54px;

    z-index: 3;
}

#header .ask a {
    color: #888888;
    font-family: Arial;
    font-size: 11px;
    text-decoration: underline;
    font-weight: bold;
}

#header .ask a:hover {
    text-decoration: none;

}

/******************************** маленькие иконки в шапке ********************/
#header .menu_icons {
    height: 18px;
    position: absolute;
    top: 28px;
    right: 14px;

}

#header .menu_icons .icons {
    height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;

}

#header .menu_icons .icons li {
    list-style: none;
    margin: 0 0 0 28px;
    padding: 0;
    width: 13px;
    height: 13px;
    float: left;

}

#header .menu_icons .icons a {
    width: 13px;
    height: 13px;
    display: block;
}

#header .menu_icons .icons .item1 a {
    background: url(/images/home_icon.gif) no-repeat left center;
}

#header .menu_icons .icons .item2 a {
    background: url(/images/star_icon.gif) no-repeat left center;
}

#header .menu_icons .icons .item3 a {
    background: url(/images/sitemap_icon.gif) no-repeat left center;
}

#header .menu_icons .icons .item4 a {
    background: url(/images/mail_icon.gif) no-repeat left center;
}

/******************************** поиск ********************/
.search {
    position: absolute;
    top: 115px;
    right: 54px;
    line-height: 19px;
}

.search .search_field {
    border: #c7c6c6 solid 1px;
    width: 152px;
    height: 15px;
    color: #b6b6b6;
    font-family: Arial;
    font-size: 16px;
    padding-left: 5px;
    float: left;
}

.search .search_button {
    width: 18px;
    height: 18px;
    background: url(/images/search_button.gif) no-repeat left top;
    border: 0;
    margin: 0px 0 0 4px;
    border: #c7c6c6 solid 1px;
    cursor: pointer;
}

/********************* Slider ******************************/

#header .slider {
    width: 904px;
    height: 264px;
    position: absolute;
    top: 285px;
    left: 44px;
    /* background:url(/images/slider_img.png) no-repeat left top;*/
    z-index: 2;
}

#header .slider .arrl {
    width: 41px;
    height: 67px;
    position: absolute;
    top: 95px;
    left: -41px;
    background: url(/images/arrl.png) no-repeat left top;
    z-index: 4;
    cursor: pointer;
}

#header .slider .arrr {
    width: 41px;
    height: 67px;
    position: absolute;
    top: 95px;
    right: -41px;
    background: url(/images/arrr.png) no-repeat left top;
    z-index: 4;
    cursor: pointer;
}

#header .slider  #cont {
    overflow: hidden;
    width: 900px;
    height: 260px;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 0;
    padding: 0;
    position: absolute;
    border: 2px solid #d8d5d5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

#header .slider  #cont .items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#header .slider  #cont .items li {
    float: left;
    margin: 0;
    padding: 0;
    width: 958px;
    height: 260px;
}

#header .slider  #cont .sliderim {
    width: 958px;
    height: 260px;
}

#header .slider_shadow {
    width: 903px;
    height: 35px;
    position: absolute;
    top: 530px;
    left: 44px;
    background: url(/images/slider_shadow.png) no-repeat left top;
    z-index: 1;
}

/****************************************/
.content {

    width: 998px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}

/************* mainmenu *************************/
#mainmenu {
    position: absolute;
    width: 998px;
    top: 145px;
    left: 0;

}

#mainmenu .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 998px;

}

#mainmenu .menu li {
    list-style: none;
    margin-bottom: 20px;
    padding: 6px 0px 0 8px;
    float: left;
    width: 183px;
    height: 38px;
    position: relative;

}

#mainmenu .menu li  img {
    margin: 0 6px 0px 0;
    float: left;
}

#mainmenu .menu li a {
    padding: 0px;
    color: #454545;
    margin: 0 0 0px 0;

    font-size: 14px;
    font-family: Arial;
}

#mainmenu .menu .with_submenu:hover {

    background: url(/images/menu_bg.png) repeat;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    border-color: #c2c2c2;
    border-width: 1px 1px 0 0;
    box-shadow: 0px -1px 1px 1px darkgrey;

}

#mainmenu .menu li a:hover {
    color: #e55c00;
    text-decoration: none;

}

#mainmenu .menu li .selected {
    color: #e55c00;
}

#mainmenu ul li ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 59px;
    width: 171px;
    min-height: 100px;
    background: url(/images/menu_bg.png) repeat;
    padding: 5px 10px 0 10px;
    z-index: 1000;
    margin-top: -15px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border: #c2c2c2 solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0px 1px 1px darkgrey;
}

#mainmenu .menu li ul  li:hover {
    background: transparent;
    borderr-width: 0px;
    box-shadow: 0px 0px 0px;

}

#mainmenu .menu li ul  li {
    margin: 0 0 10px 0;
    padding: 0 0 0px 30px;
    height: auto;
    width: 141px;
    float: none;
    background: transparent;
}

#mainmenu .menu  li ul  li  a {
    text-decoration: none;
    color: #000;
    line-height: 15px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

#mainmenu .menu  li ul  li  a.hover {
    color: #e55c00;
    background: transparent;
    border: 0;

}

#mainmenu .menu li ul li .selected {
    color: #e55c00;
}

#mainmenu .menu li a.hover {
    text-decoration: none;
    color: #e55c00;
    background: transparent;
    border: 0;
}

/********************** статистика ********************/
.stats {
    position: relative;
    width: 850px;
    height: 202px;
    padding: 0 12px 0 22px;
    left: 55px;
    background: url(/images/stat_bg.png) repeat-x left top;
    border: 1px solid #d2d2d2;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.stats .text_heading {
    background: transparent;
}

.stats .item {
    width: 228px;
    float: left;
    text-align: center;
    margin-right: 50px;

}

.stats .item  div {
    margin-left: 50%;
}

.stats .item  p {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Minion Pro;
    font-size: 18px;
}

.stats .item p a {
    color: #000;
    text-decoration: none;
}

.stats .item  .sost a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -45px;

    background: url(/images/sost.png) no-repeat left top;
}

.stats .item  .budget a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -53px;

    background: url(/images/budget.png) no-repeat left top;
}

.stats .item  .lgoti a {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: -53px;

    background: url(/images/lgoti.png) no-repeat left top;
}

/******************* пресса *************************/
.pressa {
    margin: 40px 50px 0 0;
    width: 400px;
    float: right;
}

.pressa  .text_heading  .head {
    color: #6e6e6e;
}

.pressa .item {

    text-align: left;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0px 10px 0;
    border-bottom: 3px solid #c2c2c2;
}

.pressa .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;

    margin-top: 17px;
}

.pressa .item .descript {
    padding-left: 50px;

}

.pressa .item p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.pressa .item .descript .date {
    color: #1a74a9;
    font-family: Minion Pro;
}

.pressa .item .descript .title a {
    color: #323232;
    font-family: Arial;

}

.pressa .item .descript .title a:hover {
    text-decoration: none;
}

/******************* пресса основная *************************/
.pressa-big {
    margin: 40px 0 0 0;
}

.pressa-big  .text_heading  .head {
    color: #6e6e6e;
}

.pressa-big .item {
    text-align: left;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.pressa-big .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;
    margin-top: 17px;
}

.pressa-big .item .descript {
    padding-left: 50px;

}

.pressa-big .item p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.pressa-big .item .descript .date {
    color: #1a74a9;
    font-family: Minion Pro;
}

.pressa-big .item .descript .title a {
    color: #323232;
    font-family: Arial;

}

.pressa-big .item .descript .title a:hover {
    text-decoration: none;
}

.text {
    margin: 0 0 20px 20px;

}

.text p {
    color: #6E6E6E;
    font-size: 14px;
    font-family: Tahoma;
    padding-bottom: 10px
}

.text_heading {
    margin: 10px 0;
    background: url(/images/h1_bg.png) repeat-x left center;
}

.text_heading  .head {
    padding: 0 20px 0 0;

    font-size: 31px;
    line-height: 31px;
    color: #0467a2;
    background: #fff;
    font-family: Minion Pro;

}

/******************** законодательство *******************/

.zakon {
    margin: 40px 0px 0 55px;
    width: 447px;
    float: left;

}

.zakon  .text_heading  .head {
    color: #e55c00;
}

.zakon .item {
    margin: 0px 0px 20px 0;
}

.zakon .item .date {
    width: 70px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    text-align: left;
}

.zakon .item .date p {
    color: #6b6969;
    font-family: Minion Pro;
    font-size: 13px;
}

.zakon .item .descript {
    padding-left: 70px;

}

.zakon .item p {
    padding: 0;
    margin: 0;

}

.zakon  .item .descript .title {
    color: #e55c00;
    font-family: Arial;
    font-size: 11px;
    margin-bottom: 3px;
}

.zakon .item .descript .description a {
    color: #000;
    font-family: Minion Pro;
    font-size: 14px;

}

.zakon .item .descript .description a:hover {
    text-decoration: none;

}

/******************** footer ************************/
.pad {
    height: 105px;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 105px;
    width: 100%;
    clear: both;

}

#footer .center {
    position: relative;
    margin: 0 auto;
    border-top: 4px solid #e55c00;
    width: 998px;
}

#footer .phone {
    position: absolute;
    top: -25px;
    left: 62px;
    width: 177px;
    height: 98px;
    background: url(/images/phone.png) no-repeat left top;

}

#footer .contacts {
    position: absolute;
    top: 15px;
    left: 238px;
}

#footer .contacts p {
    color: #030303;
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#footer .made a {
    position: absolute;
    display: block;
    top: 15px;
    right: 75px;
    width: 89px;
    height: 47px;
    background: url(/images/invoice.png) no-repeat left top;

}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/******* admin *********/

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: 14px;
}

textarea {
    width: 100%;
    height: 250px;
}

#save {
    width: 100px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.sub-menu {
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 520px;
    background: url(/images/submenu.png) top left no-repeat;
    vertical-align: middle;
}

.document {
    list-style: none;
    padding: 0;
}

.document li {
    padding: 5px 0;
}

.doc_text {
    text-align: justify;
}